@model IEnumerable<ConnectWeb.Models.DataModels.Role>
@{
    ViewData["Title"] = "Applications";
}
<h2>Roles for @ViewBag.ApplicationName</h2>

<p>
    <a asp-controller="Roles" asp-action="Create" asp-route-appId="@ViewBag.AppId" >Create New</a>
</p>
<div class="row">
    <table class="table">   
        <tr>
            <th>Id</th>
            <th>Guid</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Roles" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-controller="Roles" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </table>
</div>
